@charset "UTF-8";

/* CSS Document */

 body {
    background-color: white;

     
}

.schrift1 { 

    font-family: monospace; 
    font-size: 12px; 
    color: black; 
    margin-left: 20px; 
    margin-top: 20px;
    margin-right: 20px;
    
   
     
 } 

.position1 { 
    margin-left: 400px; 
        margin-top: 200px; 
    z-index: 1; } 

.position2 { 
    margin-left: 400px; 
      
    z-index: 1; } 
.position3 {
    padding-bottom: 80px;
}

.images { 
    margin-left: 400px; 
    margin-top: 50px; 
}


.shuffle { 
    display: none; }
